@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

<!-- !PAGE CONTENT! -->
<div id="ecommerce-tag" class="ecommerce-container">
    @{
        var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
        var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
        if (articleData != null)
        {
            @RenderTemplate("ProductDetail.cshtml", appTheme, Model, true)
        }
        else
        {
            @RenderTemplate("ProductList.cshtml", appTheme, Model, true)
        }
    }
</div>
<div class="w3-overlay simplisity_loader" style="z-index:999;"></div>
